* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.containerCalculadora {
    /* display: grid; */
    box-shadow: 1px 1px 10px rgba(135, 134, 134, 0.797);
    border-radius: 7px;
    overflow: hidden;
    width: 300px;
}

.display {
    display: grid;
    height:100px;
    grid-template-areas: "elemento1 elemento2";
    background-color: white;
    
    
    
     
}


.displayInput {
    background: white;
    border: none;
    outline: none;
    padding: 15px ;
    font-size: 27px;
    text-align: end;
    width: 200px;
    order: 1;

}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/ 5;
    grid-row: 2/6;
    height: 350px;
    
    
}
button {
    font-size: 27px;
    background-color: rgb(222, 222, 222);
    border: 1px solid rgba(160, 160, 160, 0.307);
    cursor: pointer;
    
}

button:hover {
    background-color:rgb(214, 214, 214) ;
    
}

.sinal {
    color:rgb(254, 132, 10);
}

.apagarBtn{
    background-color: white;
    border:none;
    width: 100px;
    
    
   
}

.apagarBtn p  {
    position: relative;
    /* right: 114px;
    bottom: 25px; */

}
.apagarBtn:hover {
    background-color: white;
    color: rgb(90, 90, 90); 
}