

:root {
    --background: rgb(184, 184, 184);
    --button: rgb(222, 222, 222);
    --buttonHover: rgb(214, 214, 214);
    --backgroundDisplay: white;
    --buttonTemaHover: rgb(170, 170, 170);
    --borderButtonTema: rgb(222, 222, 222);
    --borderButton: rgb(184, 184, 184);
    --boxShadow:rgba(135, 134, 134, 0.797);
    --colorFont: black;
}

.escuro {
    --background: #33383E;
    --button: #434853;
    --buttonHover: #7276808e;
    --backgroundDisplay: white;
    --buttonTemaHover: #505861;
    --borderButtonTema: rgb(222, 222, 222);
    --borderButton: rgb(95, 104, 125);
    --boxShadow:rgba(30, 30, 30, 0.797);
    --colorFont: rgb(241, 239, 239);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    
}

header {
    width: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
}

#btn {
    background-color: transparent;
    font-size: 20px;
    border: 1px solid  var(--borderButtonTema);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;

}

#btn:hover {
    background-color:var(--buttonTemaHover);
}

.containerCalculadora {
    /* display: grid; */
    box-shadow: 1px 1px 10px var(--boxShadow);
    border-radius: 7px;
    overflow: hidden;
    width: 300px;
}

.display {
    display: grid;
    height:100px;
    grid-template-areas: "elemento1 elemento2";
    background-color: var(--backgroundDisplay);
    
}


.displayInput {
    background: var(--backgroundDisplay);
    border: none;
    outline: none;
    padding: 15px ;
    font-size: 27px;
    text-align: end;
    width: 200px;
    order: 1;

}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/ 5;
    grid-row: 2/6;
    height: 350px;
    
    
}
button {
    font-size: 27px;
    background-color: var(--button);
    border: 1px solid var(--borderButton);
    cursor: pointer;
    border-radius: 1px;
    color: var(--colorFont);
    
}

button:hover {
    background-color: var(--buttonHover);
    
}



.sinal {
    color:rgb(254, 132, 10);
    /* color: white; */
    /* background: #ec9327; */
}

.apagarBtn{
    background-color: transparent;
    border:none;
    width: 100px;
    color:black;
    
    
   
}

.apagarBtn p  {
    position: relative;
    /* right: 114px;
    bottom: 25px; */

}
.apagarBtn:hover {
    background-color: transparent;
    color: rgb(90, 90, 90); 
}