

:root {
    --background: rgb(184, 184, 184);
    --button: #f8f8f8;
    --buttonHover: #ffffff7f;
    --backgroundDisplay: white;
    --buttonTemaHover: rgb(170, 170, 170);
    --borderButtonTema: rgb(222, 222, 222);
    --borderButton: rgb(184, 184, 184);
    --boxShadow:rgba(135, 134, 134, 0.797);
    --colorFont: black;
    --backgroundTeclado: rgba(234, 234, 234, 0.712);
    --backgroundSinal:  lch(61.53% 86.93 50.77);
    --backgroundHoverSinal: lch(59.78% 81.47 51.1);
}

.escuro {
    --background: #4f545a ;
    --button: #454547c1;
    --buttonHover: #7276808e;
    --backgroundDisplay: /* white */ rgb(0, 0, 0);
    --buttonTemaHover: #505861;
    --borderButtonTema: rgb(222, 222, 222);
    --borderButton: rgb(95, 104, 125);
    --boxShadow:rgba(30, 30, 30, 0.797);
    --colorFont: rgb(241, 239, 239);
    --backgroundTeclado:rgb(15, 15, 15) ;
    --backgroundSinal:  lch(61.53% 86.93 50.77);
    
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    position: relative;
    
    
    
}

header {
    width: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top:14px;
    margin-bottom: 15px;
    height: 3.3rem;
}

#btn {
    background-color: transparent;
    font-size: 20px;
    border: 1px solid  var(--borderButtonTema);
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    height:100%;

}

#btn:hover {
    background-color:var(--buttonTemaHover);
}

.containerCalculadora {
    /* display: grid; */
    box-shadow: 1px 1px 10px var(--boxShadow);
    border-radius: 10px;
    overflow: hidden;
    width: 316px;
    margin-top: 70px;
}

.display {
    display: grid;
    height:130px;
    grid-template-areas: "elemento1 elemento2";
    background-color: var(--backgroundDisplay);
    align-items: center;
}


.displayInput {
    background: var(--backgroundDisplay);
    color: var(--colorFont);
    border: none;
    outline: none;
    padding: 15px ;
    font-size: 27px;
    text-align: end;
    width: 200px;
    order: 1;

}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/ 5;
    grid-row: 2/6;
    height: 400px;
    padding: 16px 14px 0px 14px;
    gap: 10px;
    background-color: var(--backgroundTeclado);
    
}
button {
    font-size: 27px;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: var(--colorFont);
    height: 4.3rem;
    text-align: center;
    
}

button:hover {
    background-color: var(--buttonHover);
    
}



.sinal {
    /* color:rgb(254, 132, 10); */
    color: white;
    background: var(--backgroundSinal);
}

.sinal:hover {
    background-color: var(--backgroundHoverSinal) ;
}


.apagarBtn{
    background-color: transparent;
    border:none;
    width: 100px;
    color:black;
    
    
   
}

.apagarBtn p  {
    position: relative;
    color: var(--colorFont);
    /* right: 114px;
    bottom: 25px; */

}
.apagarBtn:hover {
    background-color: transparent;
     
}
.apagarBtn p:hover {
    color: var(--background);
}

@media screen  and (min-width: 1000px){
    .containerCalculadora {
        width: 305px;

    }

    .teclado {
        height: 382px;
    }

    button {
        height: 4rem;
    }
}

@media (orientation: landscape) {
   .containerCalculadora {
    margin-top: 90px;
    margin-bottom: 40px;
    
   }
}
